In [1]:
#importing libraries
import pandas as pd
import numpy as np
import csv

In [5]:
columns = ['symptoms','severity']

In [6]:
df = pd.read_csv("SH-chatbot-Data/Symptom_severity.csv", names=columns)

In [7]:
df.head()

               symptoms  severity
0               itching         1
1             skin_rash         3
2  nodal_skin_eruptions         4
3   continuous_sneezing         4
4             shivering         5

In [8]:
df.columns

Index(['symptoms', 'severity'], dtype='object')

In [10]:
df = df['symptoms']

In [13]:
print(type(df))

<class 'pandas.core.series.Series'>

In [ ]:
 converting to list 
salary_list = data["Salary"].tolist()